* {
    list-style: none;
}

#menu~* {
    width: 1100px;
    margin: 0 auto;
}

#highlight~section {
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 35px 0 50px;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

/* top menu */

.top-menu {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
}

.top-menu>div {
    width: 1100px;
}

.top-menu .user-name {
    font-size: 12px;
    color: #666;
    padding: 3px 7px;
    margin: 0 5px;
    cursor: default;
}

.top-menu-btn {
    border: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 3px 7px;
    color: #666;
    margin: 0 5px;
    text-align: center;
}

.top-menu-btn:hover {
    color: #666;
}

/* 헤더 영역 */

header {
    width: 1100px;
    height: 100px;
}

header>.input-group {
    width: 250px;
}

#search {
    font-size: 12px;
}

/* 메뉴 영역 */

#menu {
    height: 70px;
    border-top: 1px solid #e2e2e2;
}

.inner-menu {
    width: 1100px;
}

.inner-menu>a {
    height: 100%;
    line-height: 70px;
    margin-right: 20px;
    font-weight: bold;
}

.inner-menu>a:hover, .inner-menu>a.selected {
    color: #e12d1c;
    border-bottom: 3px solid #e12d1c;
}

/* 서브 메뉴 영역 */

#submenu {
    height: 55px;
}

#submenu::before {
    content: '';
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: #e12d1c;
}

#submenu>a {
    line-height: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

#submenu>a.selected, #submenu>a:hover {
    border-bottom: 3px solid #fff;
}

/* 푸터 영역 */

footer {
    height: 150px;
    background-color: #262626;
    color: #656565;
    font-size: 14px;
}

.inner-foot {
    width: 1100px;
    margin: 65px auto;
}

.footer-menu {
    width: 500px;
}

.footer-menu a {
    color: #c5c5c5;
}

.footer-copyright {
    margin-right: 50px;
}