/* 글 */

#view {
    padding: 60px 0 100px;
}

.view-header {
    padding: 0 70px 20px 0;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.view-title {
    word-break: break-all;
}

.view-date {
    font-size: 14px;
    color: #999;
    line-height: 30px;
}

.view-btns {
    position: absolute;
    right: 0;
}

.view-btns .btn {
    padding: 4px 8px;
    font-size: 14px;
}

.view-body {
    margin-top: 50px;
    padding: 0 100px 0 50px;
}

.view-content {
    margin-top: 50px;
}

.view-content img {
    max-width: 950px;
    object-fit: cover;
}


/* 영상 */

#video-view {
    padding: 70px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-view iframe {
    width: 1000px;
    height: 600px;
}

#video-view video {
    width: 1000px;
    height: 600px;
    object-fit: cover;
    border: none;
    outline: none;
}

.video-text {
    width: 1000px;
    margin-top: 30px;
}

#video-view .view-date {
    display: flex;
    margin-top: 15px;
}

.video-view {
    margin-right: 20px;
}

.video-view,
.video-date {
    font-size: 14px;
    color: #999;
}